.ListItem {
    span.list-btn {
        background: var(--dark);
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 5px;
        font-size: 80%;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: var(--prime);
        }
    }
}