@import '../../assets/styles/colors';
.Task {
	&.disabled {
		opacity: 0.4;
		pointer-events: none;
	}
	.task-name {
		a {
			color: $primary;
			font-weight: bold;
			text-decoration: none;
		}
		p {
			margin: 0;
		}
	}
	.task-status {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
