@import '../../assets/styles/colors';
.Input {
	width: 100%;
	margin-bottom: 1rem;
	&:focus {
		.label {
			color: $primary;
		}
	}
	.label {
		font-weight: bold;
		color: $gray;
		margin-bottom: 0.5rem;
		display: block;
		text-align: left;
	}
	input {
		width: 100%;
		padding: 1rem;
		border: 0;
		border-radius: 0.25rem;
		appearance: none;
		color: $gray-medium;
		background-color: $input-bright;
		&::placeholder {
			color: $gray-light;
		}
		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
