{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"extends": [
		"airbnb",
		"plugin:jsx-a11y/strict",
		"plugin:react/recommended",
		"plugin:prettier/recommended",
		"prettier",
		"plugin:compat/recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"experimentalObjectRestSpread": true
		}
	},
	"plugins": [
		"react",
		"react-hooks",
		"jsx-a11y",
		"prettier",
		"compat"
	],
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"no-nested-ternary": 0,
		"import/no-dynamic-require": 0,
		"global-require": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/no-array-index-key": 0,
		"react/jsx-props-no-spreading": 0,
		"no-console": "off",
		"react/prop-types": 0,
		"prettier/prettier": 1,
		"jsx-a11y/interactive-supports-focus": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"compat/compat": "off"
	}
}