.KidCard {
    &:first-child {
        margin-top: 20px !important;
    }
    .uk-card {
        h3, p {
            margin: 0;
        }
        button {
            display: inline-block;
        }
        .edit-btn {
            a {
                color: var(--secon);
            }
        }
    }
}