/* About Page CSS */
.ContactPageContainer {
    p {
      color: red;
      &.chicken {
        color: purple;
      }
      a {
        color: green;
        font-size: 80px;
        &:hover { color: blue }
        
      }
    }
    
  }