@import '../../assets/styles/colors';
.Spinner {
	path {
		stroke-dasharray: 880;
		stroke-dashoffset: 880;
		animation: dash 1s linear infinite;
	}
}

@keyframes dash {
	to {
	  stroke-dashoffset: 0;
	}
  }