.ChildLoginForm {
  .uk-input {
    height: 70px !important;
    font-size: 40px;
    &.valid {
      border: mediumaquamarine solid 1px;
      color: mediumaquamarine;
      font-weight: bold;
    }
  }
  .uk-select {
    height: 70px !important;
    font-size: 40px;
    &.valid {
      border: mediumaquamarine solid 1px;
      color: mediumaquamarine;
      font-weight: bold;
    }
  }
  .cta-pill {
    margin-top: 20px;
  }
}

@media(max-width: 650px) {
  .cta-pill {
    width: 100%;
  }
  .next-btn {
    width: 100%;
    margin: 20px 0 0;
  }
}