.ChildLoginForm {
  .uk-input {
    height: 70px !important;
    font-size: 28px;
    text-align: center;
    background: white;
    color: var(--gray);
    &.valid {
      border: mediumaquamarine solid 1px;
      color: mediumaquamarine;
      font-weight: bold;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  .uk-select {
    height: 70px !important;
    font-size: 28px;
    background: white;
    &.valid {
      border: mediumaquamarine solid 1px;
      color: mediumaquamarine;
      font-weight: bold;
    }
    &:disabled {
      opacity: 0.5;
    }
    option {
      text-align: center;
      color: var(--gray);
    }
  }
  .cta-pill {
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .ChildLoginForm {
    .cta-pill {
      width: 100%;
    }
    .next-btn {
      width: 100%;
      margin: 20px 0 0;
    }
  }
}
