.AdminNavigation {
    background: var(--light);
    padding: 5px 0;
}
.AdminNavigation button.link {
    color: var(--dark);
    padding: 5px 20px;
}
.AdminNavigation ul {
    text-align: center;
    margin: 0;
}
.AdminNavigation li {
    display: inline-block;
}
.AdminNavigation li::after {
    content: " | ";
}
.AdminNavigation li:last-child:after {
    content: "";
}
.AdminNavigation li a {
    color: var(--dark);
    text-align: center;
    padding: 5px 20px;
}