rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

   match /tasks/{document=**} {
      allow read, write, update, delete;
    }
   match /users/{document=**} {
      allow read, write;
      allow update, delete: if request.auth.uid != null;
    }
  }
}