@import '../../assets/styles/colors';
.CompletedTasksList {
  padding-top: 2rem;
  list-style: none;
  li {
    font-weight: bold;
    padding: 1rem 0;
    border-bottom: $gray-bright solid 1px;
  }
}