.FeedbackThankYou {
    .Hero {
      background-image: url(../../assets/images/feedback_bg@2x.png);
      background-size: cover;
      background-position: center;
      min-height: calc(100vh - 309px);
    }
}