.FeedbackThankYou {
    .Hero {
      background-image: url(../../assets/images/feedback_bg.svg);
      background-size: cover;
      background-position: center;
      min-height: calc(100vh);
    }
}