.HeaderNav {
  background-color: white;
  margin-bottom: 0;
  padding: 10px 0;
  box-shadow: 0px 18px 20px -20px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: inline-block;
  width: 100%;
  .tablet-started {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .HeaderLogo {
    .logo-wrapper {
      text-align: left;
      img {
        max-width: 200px;
        padding: 5px 0;
      }
    }
  }
  nav {
    ul {
      margin: 0;
      padding-left: 0;
      li {
        display: inline-block;
        padding: 13px 0 13px 20px;
        a {
          color: var(--gray);
          text-decoration: none;
          transition: 0.3s;
          &.active {
            font-weight: bold;
            color: var(--prime);
          }
          &:hover {
            color: var(--prime);
          }
        }
      }
    }
  }
  button.link {
    color: white;
  }
}

@media (max-width: 1024px) {
  .HeaderNav {
    .tablet-started {
      display: inline-block;
      text-align: center;
      margin-top: 0;
      margin-right: 10px;
    }
    .nav-button {
      background: white;
      display: inline-block;
    }
    .desktop-headernav {
      display: none;
    }
    .uk-offcanvas-bar {
      background-color: var(--dark);
      ul {
        li {
          display: block;
          padding: 20px 0;
          width: 100%;
          color: var(--gray);
          a.cta-pill {
            text-align: center;
            margin-top: 0 !important;
          }
        }
      }
    }
    nav {
      ul {
        li {
          display: inline-flex;
          padding: 20px 10px;
          &.desktop-navitem {
            display: none;
          }
        }
      }
      a.cta-pill {
        text-align: center;
        margin-top: 0 !important;
      }
    }
    span.uk-icon {
      line-height: 50px;
      color: var(--prime);
      cursor: pointer;
    }
    .logo-wrapper img {
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .HeaderNav {
    nav {
      ul {
        margin-top: 30px;
        li {
          padding: 20px 0;
          display: inline-block;
          &.desktop-navitem {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .HeaderNav {
    a {
      &.tablet-started {
        padding: 10px 20px;
        width: 70%;
      }
      &.cta-pill {
        display: none;
      }
    }
  }
}
