:root {
	--prime: #346afc;
	--primelt: #e5ecff;
	--secon: #fd7c7c;
	--seconlt: #fda3a3;
	--dark: #2c3146;
	--gray: #8c92b1;
	--light: #f1f1f1;
}

/* UNIVERSAL */
button {
	-webkit-appearance: none;
	border: none;
}

section {
	padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-weight: bold;
	font-size: 40px;
	color: var(--dark);
}
h2 {
	font-size: 24px;
	font-weight: bold;
	color: var(--dark);
}
h4 {
	font-weight: bold;
	color: var(--dark);
}
a {
	transition: 0.3s;
	color: var(--prime);
}
.sublink {
	color: white;
	margin: 10px 0;
	text-decoration: underline;
	display: block;
	width: 150px;
}
p,
li {
	color: var(--gray);
	line-height: 26px;
	&.feedback {
		color: var(--secon);
		font-weight: bold;
		text-align: center;
		font-size: 14px;
		margin: 0;
		&.good {
			color: mediumaquamarine;
		}
	}
}

/* BUTTONS */
.uk-button-primary {
	background-color: var(--secon);
	display: inherit;
	margin-top: 10px;
}
.uk-button-primary:focus,
.uk-button-primary:hover {
	background-color: #f1f1f1;
	color: var(--prime);
}
/* LOGOS */
.logodark {
	width: 80%;
	margin: 0 auto;
}

/* ADMIN DASHBOARD */
.add-task a {
	background: var(--prime) !important;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	color: white;
	padding: 20px;
	font-size: 19px;
	display: flex;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	&::before {
		color: white;
	}
	&:hover {
		background: var(--secon) !important;
	}
}
.add-task-link {
	padding-left: 0;
}

#add_task_form {
	padding: 30px;
}
.task p {
	vertical-align: middle;
}
.uk-list-striped > li:nth-of-type(odd) {
	background: #f4f4ff;
}
.uk-list-striped > li:nth-of-type(odd) {
	border-top: 1px solid #e8e8ff;
	border-bottom: 1px solid #e8e8ff;
}

button.link {
	background: none;
	border: none;
	font-size: 16px;
	padding: 0;
}
button.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

input.uk-input,
textarea.uk-textarea,
select.uk-select {
	margin: 10px 0 0;
	border: none;
	background: var(--light);
	&:first-child {
		margin-top: 0;
	}
}

.uk-legend {
	font-weight: bold;
	color: var(--dark);
	font-size: 1em;
}
.uk-form-label {
	color: var(--dark);
	font-weight: bold;
}
select.uk-select {
	margin: 20px 0 0 !important;
}
.next-btn {
	margin-left: 20px;
}
.main {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	color: var(--dark);
}

.cta-pill {
	border-radius: 25px;
	padding: 10px 25px;
	background: var(--secon);
	font-size: 18px;
	color: white !important;
	transition: 0.3s;
	border: none;
	cursor: pointer;
	min-width: 150px;
	margin-top: 20px;
	max-width: 300px;
	&:hover {
		background: var(--seconlt);
		text-decoration: none;
	}
}
.next-btn {
	margin-left: 20px;
	border-radius: 20px;
	padding: 0px 50px;
	&:hover {
		background: white;
		color: var(--gray);
	}
}
.form-container {
	width: 60%;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	section {
		padding: 70px 0;
	}
}
@media (max-width: 640px) {
	section {
		padding: 50px 0;
	}
	.form-container {
		width: 90%;
	}
	.cta-pill {
		width: 100%;
		box-sizing: border-box;
		display: block;
		-webkit-appearance: none;
		border: none;
		padding: 15px;
		border-radius: 40px;
	}

	.uk-legend {
		text-align: center;
	}
}
