.Footer {
    background: var(--primelt);
    font-size: 12px;
    padding: 5px 0;
    p {
        color: var(--prime);
    }
    img {
        max-width: 35px;
    }
    li {
        display: inline-block;
        margin-left: 10px;
        a {
            line-height: 26px;
        }
    }
}
@media(max-width: 650px) {
    .Footer {
        text-align: center;
        ul {
            padding: 0;
        }
    }
}