@import '../../assets/styles/colors';
.ChildDashboard {
  background: $primary;
  height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  &.done {
      background: $success;
  }
  .content {
    text-align: center;
    width: 80vw;
    h2.task-item {
        color: white;
        font-size: 60px;
     
    }
    button {
      &.task-button {
        height: 40vh;
        width: 40vh;
        background: $secondary;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        line-height: 40vh;
        text-align: center;
        color: white;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        outline: none;
        &:hover {
          background: $gray-dark;
        }
      }
    }
  }
}
@media(max-width: 650px) {
  .ChildDashboard {
    .content {
      margin: 30px 0;
      .task-item {
        h2 {
          font-size: 30px;
          line-height: 1;
        }
      }
      button.task-button {
        height: 80vw;
        width: 80vw;
        line-height: 0;
      }
    }
  }
}