.ChildDashboard {
  background: var(--prime);
  height: calc(100vh - 50px);
  &.done {
      background: mediumaquamarine;
  }
  .content {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
    .task-item {
      h2 {
        color: white;
        font-size: 60px;
        font-weight: lighter;
      }
    }
    button {
      &.task-button {
        height: 40vh;
        width: 40vh;
        background: var(--secon);
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        line-height: 40vh;
        text-align: center;
        color: white;
        font-size: 50px;
        border: none;
        outline: none;
        &:hover {
          background: var(--dark);
        }
      }
    }
  }
}
@media(max-width: 650px) {
  .ChildDashboard {
    .content {
      margin: 30px 0;
      .task-item {
        h2 {
          font-size: 30px;
          line-height: 1;
        }
      }
      button.task-button {
        height: 80vw;
        width: 80vw;
        line-height: 0;
      }
    }
  }
}