// Primary
$primary: #346afc;
$primary-hover: #2554d6;
$primary-bright: #e9f2ff;

// Secondary
$secondary: #ff7c7c;
$secondary-hover: #DD5A5A;
$secondary-bright: #fff2f2;

// Grays
$gray-dark: #181820;
$gray: #43434f;
$gray-bright: #ebebff;

// Feedback
$success: #62DB92;
$success-bright: #e3ffee;

// Grayscale
$white: #ffffff;
$black: #000000;