.HeaderNavContainer {
    background: white;
    margin-bottom: 0;
    padding: 20px 0;
    box-shadow: 0px 18px 20px -20px rgba(0,0,0,0.5);
    z-index: 10;
    display: inline-block;
    width: 100%;
  .HeaderNavContent {
    .HeaderLogo {
      .logo-wrapper {
        img {
          height: 50px;
          padding: 5px 0;
        }
      }
    }
    ul {
        margin: 0;
        li {
            display: inline-block;
            padding: 13px 0 13px 40px;
            a {
              color: var(--gray);
              text-decoration: none;
              transition: 0.3s;
              &.active {
                font-weight: bold;
                color: var(--prime);
              }
              &:hover {
                color: var(--prime);
              }
            }
          }
    }
  }
  button.link {
    color: white;
  }
}
