.ChildLogin {
    .photo-side {
        background-image: url(../../assets/child_login_page_photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    }
    .form-side {
        background: var(--light);
        height: calc(100vh - 109px);
        .form-container {
            width: 80%;
            margin: 0 auto;
            h1.form-header {
                color: var(--dark);
            }
        }
    }
}