@import '../../assets/styles/colors';
.AdminSettings {
  form {
    text-align: left;
    margin-bottom: 30px;
    label {
      font-size: 18px;
      font-weight: bold;
      color: $gray-dark;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}
