@import '../../assets/styles/colors';
.AdminSettings {
	form {
		text-align: left;
		margin-bottom: 2rem;
		.row {
			margin-bottom: 1rem;
			label {
				margin-bottom: 0;
			}
		}
	}
	.update-password-form {
		max-width: 31rem;
	}
}
